openapi: 3.1.0
info:
  title: Messari AI Protocols API
  description: 'Messari provides crypto research, analytics, fundamentals, intelligence,

    and asset profiles via a REST API at data.messari.io. Endpoints cover

    assets, markets, networks, exchanges, protocols, news/events, token

    unlocks, monitoring/watchlists, AI chat completions, research reports,

    and bulk datasets. Authentication is via the x-messari-api-key header.

    '
  version: '1.0'
  contact:
    name: Messari
    url: https://docs.messari.io/
servers:
- url: https://data.messari.io/api
  description: Production API (Messari Data API)
security:
- apiKeyAuth: []
tags:
- name: Protocols
paths:
  /protocols:
    get:
      tags:
      - Protocols
      summary: List all protocols
      responses:
        '200':
          description: Protocols
  /protocols/{protocol}/metrics:
    get:
      tags:
      - Protocols
      summary: Protocol metrics
      parameters:
      - in: path
        name: protocol
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Metrics
  /dex:
    get:
      tags:
      - Protocols
      summary: List DEX protocols
      responses:
        '200':
          description: DEX protocols
  /lending:
    get:
      tags:
      - Protocols
      summary: List lending protocols
      responses:
        '200':
          description: Lending protocols
  /liquid-staking:
    get:
      tags:
      - Protocols
      summary: List liquid staking protocols
      responses:
        '200':
          description: Liquid staking protocols
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-messari-api-key
      description: Messari API key
