openapi: 3.1.0
info:
  title: Messari AI Assets API
  description: 'Messari provides crypto research, analytics, fundamentals, intelligence,

    and asset profiles via a REST API at data.messari.io. Endpoints cover

    assets, markets, networks, exchanges, protocols, news/events, token

    unlocks, monitoring/watchlists, AI chat completions, research reports,

    and bulk datasets. Authentication is via the x-messari-api-key header.

    '
  version: '1.0'
  contact:
    name: Messari
    url: https://docs.messari.io/
servers:
- url: https://data.messari.io/api
  description: Production API (Messari Data API)
security:
- apiKeyAuth: []
tags:
- name: Assets
paths:
  /v1/assets:
    get:
      tags:
      - Assets
      summary: List all assets
      responses:
        '200':
          description: Asset list
  /v1/assets/{assetIdentifier}:
    get:
      tags:
      - Assets
      summary: Get a specific asset
      parameters:
      - in: path
        name: assetIdentifier
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Asset details
  /v1/assets/{asset}/metrics:
    get:
      tags:
      - Assets
      summary: List the timeseries metrics catalog for an asset
      parameters:
      - in: path
        name: asset
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Metrics catalog
  /v1/assets/{asset}/timeseries/{metric}:
    get:
      tags:
      - Assets
      summary: Get timeseries data for an asset metric
      parameters:
      - in: path
        name: asset
        required: true
        schema:
          type: string
      - in: path
        name: metric
        required: true
        schema:
          type: string
      - in: query
        name: start
        schema:
          type: string
          format: date-time
      - in: query
        name: end
        schema:
          type: string
          format: date-time
      - in: query
        name: interval
        schema:
          type: string
      responses:
        '200':
          description: Timeseries data
  /v2/assets:
    get:
      tags:
      - Assets
      summary: List assets (v2) with coverage information
      responses:
        '200':
          description: Asset list
  /v2/assets/{ids}/details:
    get:
      tags:
      - Assets
      summary: Get detailed asset information (up to 20 IDs)
      parameters:
      - in: path
        name: ids
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Asset details
  /v2/assets/{asset}/time-series/{metric}:
    get:
      tags:
      - Assets
      summary: Get timeseries data for an asset metric (v2)
      parameters:
      - in: path
        name: asset
        required: true
        schema:
          type: string
      - in: path
        name: metric
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Timeseries data
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-messari-api-key
      description: Messari API key
