openapi: 3.1.0
info:
  title: Messari AI Markets API
  description: 'Messari provides crypto research, analytics, fundamentals, intelligence,

    and asset profiles via a REST API at data.messari.io. Endpoints cover

    assets, markets, networks, exchanges, protocols, news/events, token

    unlocks, monitoring/watchlists, AI chat completions, research reports,

    and bulk datasets. Authentication is via the x-messari-api-key header.

    '
  version: '1.0'
  contact:
    name: Messari
    url: https://docs.messari.io/
servers:
- url: https://data.messari.io/api
  description: Production API (Messari Data API)
security:
- apiKeyAuth: []
tags:
- name: Markets
paths:
  /v1/markets:
    get:
      tags:
      - Markets
      summary: List markets
      responses:
        '200':
          description: Markets
  /v1/markets/{marketIdentifier}:
    get:
      tags:
      - Markets
      summary: Get a specific market
      parameters:
      - in: path
        name: marketIdentifier
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Market details
  /v1/markets/{market}/metrics:
    get:
      tags:
      - Markets
      summary: List market metrics catalog
      parameters:
      - in: path
        name: market
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Metrics catalog
  /v1/markets/{market}/timeseries/{metric}:
    get:
      tags:
      - Markets
      summary: Get market timeseries data
      parameters:
      - in: path
        name: market
        required: true
        schema:
          type: string
      - in: path
        name: metric
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Timeseries data
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-messari-api-key
      description: Messari API key
