openapi: 3.1.0
info:
  title: Messari AI Monitoring API
  description: 'Messari provides crypto research, analytics, fundamentals, intelligence,

    and asset profiles via a REST API at data.messari.io. Endpoints cover

    assets, markets, networks, exchanges, protocols, news/events, token

    unlocks, monitoring/watchlists, AI chat completions, research reports,

    and bulk datasets. Authentication is via the x-messari-api-key header.

    '
  version: '1.0'
  contact:
    name: Messari
    url: https://docs.messari.io/
servers:
- url: https://data.messari.io/api
  description: Production API (Messari Data API)
security:
- apiKeyAuth: []
tags:
- name: Monitoring
paths:
  /v2/monitoring-views:
    get:
      tags:
      - Monitoring
      summary: List user monitoring views
      responses:
        '200':
          description: Monitoring views
  /v1/watchlists:
    get:
      tags:
      - Monitoring
      summary: Get user watchlists
      responses:
        '200':
          description: Watchlists
    post:
      tags:
      - Monitoring
      summary: Create a watchlist
      responses:
        '201':
          description: Watchlist created
  /v1/watchlists/{id}:
    patch:
      tags:
      - Monitoring
      summary: Update a watchlist
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Watchlist updated
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-messari-api-key
      description: Messari API key
