openapi: 3.1.0
info:
  title: Messari AI Networks API
  description: 'Messari provides crypto research, analytics, fundamentals, intelligence,

    and asset profiles via a REST API at data.messari.io. Endpoints cover

    assets, markets, networks, exchanges, protocols, news/events, token

    unlocks, monitoring/watchlists, AI chat completions, research reports,

    and bulk datasets. Authentication is via the x-messari-api-key header.

    '
  version: '1.0'
  contact:
    name: Messari
    url: https://docs.messari.io/
servers:
- url: https://data.messari.io/api
  description: Production API (Messari Data API)
security:
- apiKeyAuth: []
tags:
- name: Networks
paths:
  /v2/networks:
    get:
      tags:
      - Networks
      summary: List networks
      responses:
        '200':
          description: Networks
  /v2/networks/{network}/metrics:
    get:
      tags:
      - Networks
      summary: Network metrics catalog
      parameters:
      - in: path
        name: network
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Metrics catalog
  /v2/networks/{network}/timeseries/{metric}:
    get:
      tags:
      - Networks
      summary: Network timeseries data
      parameters:
      - in: path
        name: network
        required: true
        schema:
          type: string
      - in: path
        name: metric
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Timeseries data
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-messari-api-key
      description: Messari API key
